<%#=render "shared/leave_left"%>

<div id="main-wrapper">
	<div id="main-content">
		<%#=render "shared/notice"%>
        <div class="title">
			<h3>物品申请详情单：<%=@obj.good.try(:name)%></h3>
		</div>
	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all show_container">
       <div class="portlet-content">
          <ul>
          	<li> 
		    <span class="width_align_right">申请者: </span> 
            <span class="width_content">
         	<%=@obj.user.name%>
           </span>
    	   </li>
    	   <div class="clearfix"></div>
    	 
			<li> 
		    <span class="width_align_right">申请物品: </span> 
            <span class="width_content">
         	<%=@obj.good.name%>
           </span>
    	   </li>
    	   <li> 
		    <span class="width_align_right">申请数量: </span> 
            <span class="width_content">
         	<%=@obj.apply_num%>
           </span>
    	   </li>
    	    <li> 
		    <span class="width_align_right">申请理由: </span> 
            <span class="width_content">
         	<%=@obj.apply_info%>
           </span>
    	   </li>
    	   <div class="clearfix"></div>
            <span class="width_align_right">审核状态: </span> 
    	    	
            <span class="width_content">
                 <%= @obj.status=="acceptting" && @obj.is_review_over ? '完成' : t(@obj.status)%>  	 	
           </span>

    	    </li>
    	      <div class="clearfix"></div>
    	      <% unless @obj.is_review_over%>
    	    <li>
            <span class="width_align_right">审核: </span> 
    	    	
            <span class="width_content">

                 <%= link_to "点击查看",@url+goods_apply_path(@obj,token: @reviewer.try(:email))%>   	
           </span>

    	    </li>
    	    <%end%>
    	</ul>
        </div>

	
    	</div>

	<div class="clearfix"></div>

</div>
</div>
