<%=render "left"%>

<div id="main-wrapper">
	<div id="main-content">
		<%=render "shared/notice"%>
        <div class="title">
			<h3>党群建设管理</h3>
		</div>
     <div class="hastable">
     		<table id="datatable" class="display"> 
						<thead> 
						<tr>
							<th>#ID</th>
							<th>是否推荐到首页</th> 
						    <th>标题</th> 			    						      
						    <th>操作</th> 
							
						</tr> 
						</thead> 
						<tbody> 
	
					<% @cms_articles.each do |cms_article| %>
     					<tr>
        					<td><%=cms_article.id %></td>
        					<td><%=cms_article.is_recommend ? "是" : "否" %></td>
        					<td><%=cms_article.title %></td>
        				
        				
        					<td><%=link_to "查看",cms_dang_article_path(cms_article),class: "btn_no_text btn ui-state-default ui-corner-all tooltip"%>
        						<%=link_to "编辑",edit_cms_dang_article_path(cms_article),class: "btn_no_text btn ui-state-default ui-corner-all tooltip"%>
        						<%=link_to "删除",cms_dang_article_path(cms_article), method: :delete, data: { confirm: 'Are you sure?' },class: "btn_no_text btn ui-state-default ui-corner-all tooltip" %>
        					
          					</td>  				
      					</tr>
    					<% end %>
				
						</tbody>
						</table>



</div>
</div>


