<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

   <%=javascript_include_tag "jquery.datetimepicker", "data-turbolinks-track" => true %>
   <%=stylesheet_link_tag "jquery.datetimepicker", "data-turbolinks-track" => true %>
  <%#= yield :header %>

	   <%=javascript_include_tag "/my97/WdatePicker"%>
	<!--[if IE 6]>
	 
	<%= stylesheet_link_tag "ie6", "data-turbolinks-track" => true %>
	<%= javascript_include_tag    "pngfix",  "data-turbolinks-track" => true %>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix('.logo, .other ul#dashboard-buttons li a');

	</script>
	<![endif]-->
	<!--[if IE 7]>

	<%= stylesheet_link_tag "ie7", "data-turbolinks-track" => true %>
	
	<![endif]-->


</head>
<style type="text/css">
.content{margin-top: 150px;}
.two-column .first_column{width: 59%;text-align: right;}
.two-column .first_column .back_image{margin-right: 20px;}
.two-column .second_column{width: 40%;height: 450px;}
.two-column .second_column h1{font-weight: bold;font-size: 3em;text-align: center;margin-top: 10px}
.two-column .second_column input[type="text"] {height: 20px;}
#login1{margin-top: 10px;}
#login1 ul li{ height:26px;}
#login1 ul li .width_align_right{width:20%;}
.ui-widget-content .btn {
	display:block;
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    width:80px;
	
    float:left;
	 margin-left:20px;
	 display:inline;
    text-decoration: none;
	text-align:center;
    border:none
}
.ui-widget-content input.btn{
	height:40px;	
	
	}
.ui-widget-content .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

</style>
<body>
  <div class="content">
	<div class="two-column">
	    <div class="column first_column">
	    	<div class="back_image"><img src="/images/back.jpg" height=450/></div>
						
		</div>
					
		<div class="column second_column ui-widget-content">
			<h1>注册核电OA系统</h1>
			<div id="login1" title="Members Login" class="">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form',:class=>"registration_form"}) do |f| %>
 <%= devise_error_messages! %>
					

  <div><span class="red"><%= flash[:notice]%></span></div>

  	<ul>
					
    <li> 
		<span class="width_align_right">您的RTX名字:</span>
          <span class="width_content">
            <%= f.text_field :username, :autofocus => true, :validate => true%>
          </span>
     </li>     
     <li> 
		<span class="width_align_right">您的邮箱:</span>
         <span class="width_content">      
           <%= f.text_field :email, :validate => true%>
             </span>
      </li>     
     <li> 
		<span class="width_align_right">您的名字:</span>
         <span class="width_content">

            <%= f.text_field :name, :autofocus => true, :validate => true%>
             </span>
            
         </li>     
     <li> 
		<span class="width_align_right">科室:</span>
         <span class="width_content">
        
         <%= f.select :department_id, Category.departments.map{|c|[c.name,c.id]}%>
        </span>
    </li>
     <li> 
		<span class="width_align_right">职位:</span>
         <span class="width_content">
            <%= f.select :rank_id, User.rank_ids.collect{|k,v|[I18n.t("user_roles.#{k}"),k]}%>
        </span>
       </li>

        <li> 
		<span class="width_align_right">工作起始时间:</span>
         <span class="width_content">
         <%= f.text_field :work_at,:class=>"datetimepicker"%>
        </span>
       </li>

     <li> 
		<span class="width_align_right">设置密码:</span>
         <span class="width_content"> 
        
             <%= f.password_field :password%>
          </span>
       </li>
     <li> 
     	<span class="width_align_right">密码确认:</span>
         <span class="width_content">

             <%= f.password_field :password_confirmation %>
     </span>
       </li>

        <li>
   			<span class="width_align_right">&nbsp;</span> 
   			<span class="width_content">
   			<input type="submit" class="btn" value="注册"/>
   			<a class="btn" style="margin-left:70px" href="/users/sign_in">登录</a>
             </span>
        </li>
   
        
       
      </ul>
 
  </div>

  <% end %>
</div>
</div>
</div>


<script type="text/javascript">




  $(".registration_form").validate({   	
       
		errorElement: "b",

  	  rules:{
  	  	"user[username]": "required",
  	  	"user[work_at]": "required",
  	  	"user[email]": "required",
  	  	"user[name]": "required",
  	  	"user[password]": "required",
  	  	"user[password_confirmation]": "required"
  	  },
  	  messages: {
  	  	"user[username]": "不能为空",
  	  	"user[email]": "不能为空",
  	  	"user[work_at]": "不能为空",
  	  	"user[name]": "不能为空",
  	  	"user[password]": "不能为空",
  	  	"user[password_confirmation]": "不能为空"

  	  	
  	  }
  })

   
$('.datetimepicker').click(function(){

   	
   	WdatePicker({

       firstDayOfWeek: 0,

       isShowClear: false,
       readOnly: true,
       autoPickDate: true,
  
       dateFmt:'yyyy/MM/dd'


      


   	});

   })


</script>




</body>
<%=yield :footer%>

</html>









