<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>注册</title>
	<%= stylesheet_link_tag    "cms", media: "all"%>
  <%= javascript_include_tag "cms", "data-turbolinks-track" => true %>
     <%=javascript_include_tag "jquery.datetimepicker", "data-turbolinks-track" => true %>
       <%=javascript_include_tag "jquery.validate.min", "data-turbolinks-track" => true %>

   <%=stylesheet_link_tag "jquery.datetimepicker", "data-turbolinks-track" => true %>
   <%=javascript_include_tag "/my97/WdatePicker"%>
</head>
<body>
	<div class="top_wz">
		<div class="index_box">
			<span class="right"><a href="javascript:AddFavorite(document.location.href,document.title);">加入收藏</a>|<a href="javascript:void(0);" onClick="SetHome(this);">设为首页</a>|<a href="/about_us">联系我们</a></span>您好，欢迎来到中国核电工程有限公司采购部！
		</div>
	</div>

	<div class="register_bg">
		<div class="index_box">
			<div class="login_box">
				<div class="title">注册核电OA系统</div>
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form',:class=>"registration_form"}) do |f| %>

 <%=coustom_devise_message %>
				<ul>
					
					<li><span class="name_1">您的RTX名字：</span><%= f.text_field :username, :autofocus => true, :validate => true,class: "input_1 wd_1" ,required: true%> </li>
					<li><span class="name_1">您的邮箱：</span><%= f.text_field :email, :validate => true,class: "input_1 wd_1",required: true%> </li>
					<li><span class="name_1">您的名字：</span> <%= f.text_field :name, :autofocus => true, :validate => true, class: "input_1 wd_1",required: true%> </li>
					<li><span class="name_1">科室：</span> <%= f.select :department_id, Category.departments.map{|c|[c.name,c.id]},{},{class: "select_1"}%> </li>

					<li><span class="name_1">职位：</span>   <%= f.select :rank_id, User.rank_ids.collect{|k,v|[I18n.t("user_roles.#{k}"),k]},{},{class: "select_1"}%> </li>


					<li><span class="name_1">性别：</span>
						<label class="label_1"> <%=f.radio_button :gender ,1,checked: true,class: "input_2" %> 男  </label><label class="label_1"> <%=f.radio_button :gender ,2,class: "input_2"%> 女</label>

					
					</li>
					<li><span class="name_1">工作起始时间：</span>  <%= f.text_field :work_at,:class=>"datetimepicker input_1 wd_1" %> </li>
					<li><span class="name_1">出生时间：</span> <%= f.text_field :born_at,:class=>"datetimepicker_1 input_1 wd_1"%> </li>
					<li><span class="name_1">设置密码：</span> <%= f.password_field :password, class: "input_1 wd_1"%> </li>
					<li><span class="name_1">密码确认：</span>  <%= f.password_field :password_confirmation, class: "input_1 wd_1" %> </li>
					<li class="pd_1"><a href="javascript:void(0)" class="btn_1">注 册</a><a href="/users/sign_in" class="btn_2">登 录</a></li>
				</ul>
				<%end%>
			</div>
		</div>
	</div>
	<script type="text/javascript">



 $(".btn_1").click(function(){
     
     	$(".registration_form").submit();
     })


  
   
$('.datetimepicker').click(function(){

   	
   	WdatePicker({

       firstDayOfWeek: 0,

       isShowClear: false,
       readOnly: true,
       autoPickDate: true,
       startDate:'2008-05-01',
       dateFmt:'yyyy/MM/dd'


      


   	});

   })
$('.datetimepicker_1').click(function(){

   	
   	WdatePicker({

       firstDayOfWeek: 0,

       isShowClear: false,
       readOnly: true,
       autoPickDate: true,
       startDate:'1985-05-01',
       dateFmt:'yyyy/MM/dd'


      


   	});

   })


  

</script>


	<div class="footer tac">
		<div class="wz_2">Copyright All Rights Reserved 版权所有 中国核电工程有限公司<br />传真：010-68415086 邮箱：cnpe@cnpe.cc 京ICP备08007046号 京公网安备11040102100175号<br />公司地址：北京市海淀区西三环北路117号 技术支持：核工业计算机应用研究所</div>
	</div>

	
</body>
</html>

