<%= form_for(@cms_article,html: {class: "article_form"}) do |f| %>
  <% if @cms_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_article.errors.count, "error") %> prohibited this cms_article from being saved:</h2>

      <ul>
      <% @cms_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul>


    <li> 
		<span class="width_align_right">动态标题 </span>
		 <span class="width_content">
           <%=f.text_field :title,class: "field error goods_title text large "%> 
       </span>
    </li>

    <li> 
		<span class="width_align_right">动态内容 </span>
		<div><%=f.kindeditor :content, :simple_mode => true, :width => 600, :height => 300 %></div>   
    </li>
    <li> 
		<span class="width_align_right">&nbsp; </span>
		 <span class="width_content content_error" id="content_error">
           
       </span> 
    </li>

    <li> 
		<span class="width_align_right">缩略图 </span>
		<div><%=f.file_field :image%></div>   
    </li>

     <li> 
		<span class="width_align_right">是否推荐到首页 </span>
		<div><%=f.check_box :is_recommend,class: "is_recommend"%></div>   
    </li>



    
</ul>
 <div class="actions">
   <input type="submit" class="submit" value="提交"/>
  </div>
 <%end%>
 <script type="text/javascript">


   $(function() {

		$(".article_form").validate({
			ignore: "",
			rules: {
				"cms_article[title]": {
                        minlength: 2,
                        required: true
                    },
                "cms_article[content]": {
                       required:  function(textarea){
                    	if (typeof KindEditor !== "undefined" && KindEditor.instances) {
    						$.each(KindEditor.instances, function() {
        						this.sync();
   						 	});
						}

                    	var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); 
                    	
                        return editorcontent.length === 0;

                    }
                  }
                },

             messages: {
                "cms_article[title]": {
                   required: "不能为空",
                   minlength: "最少两个字符"
                },
                "cms_article[content]": {
                	required: "不能为空"
                }
              },
			errorPlacement: function(label, element) {
				// position error label after generated textarea
				if (element.is("textarea")) {
				
					label.insertAfter("#content_error");
				} else {
					label.insertAfter(element)
				}
			}

		});
		
	})


</script>



