
	<div id="slideBox" class="slideBox">
		<%lunbotus = CmsHome.where("kind=0")%>
		<div class="hd">
			<ul><%lunbotus.size.times do %><li></li><%end%></ul>
		</div>
		<div class="bd">
			<ul>
				<%lunbotus.each do |l|%>
				<li><a href="<%=l.url%>" target="blank" style="background-image: url(<%=l.image.url%>);"></a></li>
				<%end%>
				
			</ul>
		</div>
	</div>
	<div class="announcement">
		<div class="index_box">
			<span class="name">最新公告：</span>
			<div class="notice_con">
				<ul><%ts = CmsHome.where("kind=1")%>
					<%ts.each do |t|%>
					<li><a href="<%=t.url%>" target="blank"><%=t.title%></a><span class="time"><%=t.updated_at.strftime("%Y-%m-%d")%></span></li>
					<%end%>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="blank20"></div>
	<div class="index_box">
		<div>
			<div class="main_news left">
				<div class="title">
					<div class="more">
						<a href="/home_department_articles" class="right">更多>></a>
						<a href="/home_notifications" class="right dn">更多>></a>
					</div>
					<ul id="titleMenuId">
						<li class="current">部门动态</li>
						<li>重要通知</li>
					</ul>
				</div>
				<div id="mainNewsId">
					<div class="news_m">
						
							<%@dts = CmsArticle.articles.order("is_recommend desc").limit(9)%>
						<%f_article = @dts.first%> 
                   <%if f_article.present?%>
                   <div class="con_1">

							<div class="pt"><a href="/home_department_articles/<%=f_article.id%>" target="blank"><%=image_tag f_article.image.url%></a></div>
							<dl>
								<dt><a href="/home_department_articles/<%=f_article.id%>" target="blank"><%=f_article.title%></a></dt>
								<dd><%=truncate(strip_tags(f_article.content), length: 46, omission: '...')%><a href="/home_department_articles/<%=f_article.id%>" target="blank" class="orange_font">[查看详情]</a></dd>
							</dl>
						</div>
						<%end%>

						<ul class="con_2">
							<%@dts.each_with_index do |dt,i|%>
						<%next if i==0%>
						<li><a href="/home_dang_articles/<%=dt.id%>" target="blank"><%=dt.title%></a></li>
						<%end%>

						
						</ul>
					</div>
					<div class="news_m dn">
						
							<%@ts = CmsArticle.notices.order("is_recommend desc").limit(9)%>
						<%f_article = @ts.first%> 
                   <%if f_article.present?%>
                   <div class="con_1">
                   <div class="pt"><a href="/home_notifications/<%=f_article.id%>" target="blank"><%=image_tag f_article.image.url%></a></div>
							<dl>
								<dt><a href="/home_notifications/<%=f_article.id%>" target="blank"><%=f_article.title%></a></dt>
								<dd><%=truncate(strip_tags(f_article.content), length: 46, omission: '...')%><a href="/home_notifications/<%=f_article.id%>" target="blank" class="orange_font">[查看详情]</a></dd>
							</dl>
						</div>
						<%end%>



						<ul class="con_2">
							<%@ts.each_with_index do |dt,i|%>
						<%next if i==0%>
						<li><a href="/home_notifications/<%=dt.id%>" target="blank"><%=dt.title%></a></li>
						<%end%>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="administrative right">
				<div class="title orange">行政办公</div>
				<ul>
					<li><a href="/leaves"><img src="/images/home/xz_pt1.jpg" alt="" /></a></li>
					<li><a href="/entretains"><img src="/images/home/xz_pt2.jpg" alt="" /></a></li>
					<li><a href="loan_goods/goods"><img src="/images/home/xz_pt3.jpg" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<div class="blank20"></div>
		<div>
			<div class="news_box left">
				<div class="title yahei"><a href="/home_dang_articles" class="more_btn right">更多</a><div class="name"><span class="ic_1">党群建设</span></div></div>
				<div>
					<%@dqs = CmsArticle.dang_articles.order("is_recommend desc").limit(7)%>
						<%f_article = @dqs.first%> 
                   <%if f_article.present?%>
					<dl class="news_1">
						<dt class="yahei"><a href="/home_dang_articles/<%=f_article.id%>" target="blank"><%=f_article.title%></a></dt>
						<dd>摘要：<%=truncate(strip_tags(f_article.content), length: 46, omission: '...')%><a href="/home_dang_articles/<%=f_article.id%>" target="blank" class="orange_font">  详细>></a></dd>
					</dl>
					<%end%>
					<ul class="news_list">
						<%@dqs.each_with_index do |dp,i|%>
						<%next if i==0%>
						<li><a href="/home_dang_articles/<%=dp.id%>" target="blank"><%=dp.title%></a></li>
						<%end%>
					
					</ul>
				</div>
			</div>
			<div class="news_box left">
				<div class="title yahei"><a href="/home_lanjies" class="more_btn right">更多</a><div class="name"><span class="ic_1">廉洁从业</span></div></div>
				<div>
					<ul class="news_2">
						<%@lianjies = CmsDangqun.order("is_recommend desc").limit(9)%>
						<%@lianjies.each do |d|%>
						<li><a href="/cms_dangquns/<%=d.id%>/download" class="orange_font right">【下载】</a><a href="/cms_dangquns/<%=d.id%>/download"><%=truncate(d.title, length: 18, omission: '.')%></a></li>
						<%end%>
						
					</ul>
				</div>
			</div>
			<div class="about_con right">
				<div class="title">部门简介</div>
				<%dp = CmsHome.where("kind=2").first%>
				<p class="pt"><img src="<%=dp.try(:image).try(:url)%>" alt="" /></p>
				<p class="wz"><%=dp.try(:title)%><a href="/departments/bumenjieshao" class="orange_font">详情</a></p>
			</div>
		</div>
		<div class="blank15"></div>
		<div class="links_box">
			<div class="title"><span class="name">友情链接</span></div>
			<div class="links_con">
				<%ys = CmsHome.where("kind=3")%>
					<%ys.each do |y|%> 
					<a href="<%=y.url%>" target="blank"><%=y.title%></a>
					<%end%></div>
			<div class="clear"></div>
		</div>
	</div>

