   <%=javascript_include_tag "/my97/WdatePicker"%>
   <%#=stylesheet_link_tag "jquery.datetimepicker" => true%>

<script type="text/javascript">
  var total_nj_day= <%=current_user.residual_annual_days%>; //剩余年假
  var  is_annual=<%=current_user.is_annual%>//是否有年假
  var  user_gender=<%=current_user.gender%>;//产假天数
  var total_hj_day=<%=current_user.cj_days%>; //婚假天数
  var total_sj_day=<%=current_user.shijia_days%>;//事假总天数 总得减已经请的
  var total_sangj_day=<%=current_user.sangjia_days%>;//丧假假总天数 总得减已经请的
  var rest_days= "<%=rest_days%>".split(",") 
  var work_days =  "<%=work_days%>".split(",")  //["2014-09-21"];//周末设定的上班的日期
  var is_edit = false;
  var choose_total_days=0;


</script>
<%=javascript_include_tag "leaves", "data-turbolinks-track" => true%>

<%= form_for(@leave) do |f| %>
  <% if @leave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% @leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul>
	<li> 
		<span class="width_align_right">标题 </span> 
       <span class="width_content">
       	<%=f.text_field :title,class: "field error leave_title text large"%>
       </span>
    </li>
    
    <%= f.fields_for :leave_details,@leave.leave_details.build do |detail|%>   
    <li> 
		<span class="width_align_right">请假类型 </span>
        <span class="width_content">
            <%LeaveDetail.kinds.each do |k,v|%>
               <%=check_box_tag "leave[leave_details_attributes][kind][]",v,false,{"data-id"=>v,class: "leave_kind"}%> <%#=v%><%=t("leave_details.#{k}")%>     	  
        	 <%end%> 							
		</span>

    </li>

     <%LeaveDetail.kinds.each do |k,v|%>
    <li class="kind_<%=v%> date_choose">
      <span class="width_align_right">&gt;</span>
      <span class="width_content">
       <div>  
       	      <%=detail.text_field "start_at",class: "small_field start_at_#{v.to_s} datetimepicker1 " ,"data-id"=>v ,"data-value"=>"start_at_#{v.to_s}",name: "leave[leave_details_attributes][#{v}][start_at]",id: "start_at_#{v}"%>

       	      <%=detail.radio_button "start_at_half_day","1",{"checked"=>true,name: "leave[leave_details_attributes][#{v}][start_at_half_day]",class: "start_at_half_day_#{v.to_s} half_day_radio","data-id"=> v}%> 上午
       	      <%unless ["4","5","6","8","9","10"].include? v.to_s%>
       	      <%=detail.radio_button "start_at_half_day","2",{name: "leave[leave_details_attributes][#{v}][start_at_half_day]",class: "start_at_half_day_#{v.to_s} half_day_radio","data-id"=> v}%> 下午
       	      <%end%>

       	      <%=detail.text_field :end_at,class: "end_at_#{v.to_s} datetimepicker1  small_field","data-id"=> v,"data-value"=>"end_at_#{v.to_s}",name: "leave[leave_details_attributes][#{v}][end_at]",id: "end_at_#{v}"%>
       	      <%unless ["4","5","6","8","9","10"].include? v.to_s%>
       	          <%=detail.radio_button "end_at_half_day","1",{name: "leave[leave_details_attributes][#{v}][end_at_half_day]",class: "end_at_half_day_#{v.to_s} half_day_radio","data-id"=> v}%> 上午
       	      <%end%>
       	      <%=detail.radio_button "end_at_half_day","2",{"checked"=>true,name: "leave[leave_details_attributes][#{v}][end_at_half_day]",class: "end_at_half_day_#{v.to_s} half_day_radio","data-id"=> v}%> 下午
       	      休<%=t("leave_details.#{k}")%><b class="choose_day">共计：<%=detail.text_field :days,name: "leave[leave_details_attributes][#{v}][days]",id: "select_days_#{v}",class: "field tiny_field choose_days_per_leave" ,readonly: true%> 天</b><b class="errorr"></b>
      </div>
     </span>
    </li>

    <%end%>
<%end%> 
    <li> 
		<span class="width_align_right">审批 </span> 
       <span class="width_content">
       	<%if current_user.rank_id=="chief"%>
          <%=f.hidden_field :reporter1_id,:value=>current_user.id%>
          <%= f.select :reporter2_id,current_user.last_report_user() %>
        <%else%>
         <%= f.select :reporter1_id, current_user.report_user %>
         <b class="second_auddit"> -------> 
          <%= f.select :reporter2_id, current_user.last_report_user,{ include_blank: true }%></b>
          <%end%>

       	
       </span>


    </li>
    


     <li> 
		<span class="width_align_right">请假说明 </span>
		<div><%=f.kindeditor :info , :simple_mode => true, :width => 700, :height => 300 %></div>
		
        
       
    </li>
     <li> 
		<span class="width_align_right">附件 </span>
        <div><%=f.file_field :image%>
       </div>
    </li>
</ul>
 
  <div class="actions">
    <%= f.submit '提交申请'%>
  </div>
<% end %>

