<div id="main-wrapper">
	<div id="main-content">
		<%=render "shared/notice"%>
        <div class="title">
			<h3><%=CmsHome.kinds.key(params[:kind].to_i)%></h3>
		</div>
		  <div id="main-wrapper">

     	   	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
       <div class="portlet-content">
           

<%= form_for(@cms_home,html: {class: "form"}) do |f| %>
 
<ul>
  <li> 
		<span class="width_align_right">友情链接名称 </span>
		 <span class="width_content">
           <%=f.text_field :title%> 
       </span>
    </li>
    <li></li>
     <li> 
		<span class="width_align_right">友情链接地址 </span>
		 <span class="width_content">
           <%=f.text_field :url,class: "field error goods_title text large "%> 
            <%=f.hidden_field :kind,value:  CmsHome.kinds.key(params[:kind].to_i)%> 
       </span>
    </li>
     <li> 
		<span class="width_align_right"> &nbsp;</span>
		 <span class="width_content">
         <input type="submit" class="submit" value="提交"/>
       </span>
    </li>
</ul>


<% end %>

        </div>
	</div>

</div>
     <div class="hastable">

     		<table> 
						<thead> 
						<tr>
							<th>#ID</th>
					
						    <th>友情链接名称</th> 	
						    <th>链接地址</th>		    						      
						    <th>操作</th> 
							
						</tr> 
						</thead> 
						<tbody> 
							<%@cms_homes.each do |c|%>
							   <tr>
							   	<td><%=c.id%></td>
							   	 <td><%=c.image.url%></td>
							   	  <td><%=c.title%></td>
							   	  <td><%= link_to '删除', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>

							   </tr>
							<%end%>
	
				
						</tbody>
						</table>



</div>
</div>


