<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>登录</title>
	<%= stylesheet_link_tag    "cms", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "cms", "data-turbolinks-track" => true %>
</head>
<body>
	<div class="top_wz">
		<div class="index_box">
			<span class="right"><a href="javascript:AddFavorite(document.location.href,document.title);">加入收藏</a>|<a href="javascript:void(0);" onClick="SetHome(this);">设为首页</a>|<a href="/about_us">联系我们</a></span>您好，欢迎来到中国核电工程有限公司采购部！
		</div>
	</div>

	<div class="login_bg">
		<div class="index_box">
			<div class="login_box">
				<div class="title">核电信息化OA系统</div>
				 <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form',:class=>"login_form"}) do |f| %>
  <%=flash[:alert]%>
				<ul>
				
					<li><span class="name">用户名：</span>	<%= f.text_field :username, autofocus: true, class: "input_1" %></li>
					<li><span class="name">密码：</span> <%= f.password_field :password, autocomplete: "off" , class: "input_1"%>
       
					<li><a href="javascript:void(0)" class="btn_1">登 录</a><a href="/users/sign_up" class="btn_2">注 册</a></li>

				</ul>
				<%end%>
			</div>
		</div>
	</div>
	<div class="footer tac">
		<div class="wz_2">Copyright All Rights Reserved 版权所有 中国核电工程有限公司<br />传真：010-68415086 邮箱：cnpe@cnpe.cc 京ICP备08007046号 京公网安备11040102100175号<br />公司地址：北京市海淀区西三环北路117号 技术支持：核工业计算机应用研究所</div>
	</div>

	<script type="text/javascript">
     $(".btn_1").click(function(){
     
     	$(".login_form").submit();
     })
	</script>

</body>
</html>

