
<%=render "shared/loan_left"%>

<div id="main-wrapper">
	<div id="main-content">
		<%=render "shared/notice"%>
        <div class="title">
			<h3>物品列表</h3>
		</div>

		
	
        <div class="hastable">
					
					<table id="datatable" class="display"> 
						<thead> 
						<tr>
							<th>#ID</th>

						    <th>名称</th> 
						    <th>是否消耗品</th> 
						    <th>库存数量</th>
					
						    <th>出库库审核</th> 
						    <th>操作</th> 
							
						</tr> 
						</thead> 
						<tbody> 
							
							<%@loan = LoanGood.new%>
						<% @goods.each do |good| %>
     					<tr>
        					<td><%=good.id %></td>
        					<td><%=good.name %></td>
        					<td><%=good.is_consume ? "是" : "不是"%></td>
        					
        					<td><%=good.stock_num%></td>
        				    <%reviews=good.reviews.where("kind=?",'loan').map{|r| r.user.name}  %>
        					<td><%=reviews%></td> 
							
       						<td> <%if reviews.blank?%>
       							请找管理员设置出库审核人
								<%else%>
       							<a href="javascript:void(0)" data-url=<%= new_polymorphic_url([good,@loan])%> class="add_review"> 出库申请</a>
       							<%end%>
       							
      					</td>
      					</tr>
    					<% end %>

						
						</tbody>
						</table>



</div>
</div>
<script type="text/javascript">
$(function(){
    $(".add_review").click(function(){
    	//alert($(this).attr("data-url"))
    	$.layer({
    		type: 2,
   			shadeClose: true,
    		title: "物品出库申请",
    		closeBtn: [0, false],
    		shade: [0.8, '#000'],
    		border: [0],
    		offset: ['20px',''],
    		area: ['1000px', ($(window).height() - 50) +'px'],
    		iframe: {src: $(this).attr("data-url")},
    		end: function(){ window.location.reload();}
}); 

    })

})
  
</script>


