<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cms_dangqun.title %>
</p>

<p>
  <strong>Document:</strong>
  <%= @cms_dangqun.document %>
</p>

<%= link_to 'Edit', edit_cms_dangqun_path(@cms_dangqun) %> |
<%= link_to 'Back', cms_dangquns_path %>
