<%=render "shared/goods"%>
<%=javascript_include_tag "/my97/WdatePicker"%>

<div id="main-wrapper">
	<div id="main-content">
		<%=render "shared/notice"%>
        <div class="title">
			<h3><%=@title%></h3>
		</div>
	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
       <div class="portlet-content">
         <%= form_for("",html: {class: "form",method: :get}) do |f| %>
           <ul><li>
            <div class="float-left">
                 <span>选择物品:<%= select_tag :good_id, options_from_collection_for_select(Good.all,"id","name"),class: "select select-150",include_blank: true%></span>
            </div>
             <div class="float-left">
                 <span>审核状态:<%=select_tag :status, options_for_select([["未审核完成",0],["已审核完成",1],["已拒绝",2]]),class: "select select-150",include_blank: true%></span>
            </div>
            
            <div class="float-left">
                 <span>申请日期: 从<input type="text" name="start_at" class="field text datetimepicker"  value="起始时间"/>到<input type="text" name="end_at" class="field text datetimepicker" value="结束时间"/></span>
            </div>
            
              
           
            <div class="float-left">
                 <span><input type="submit" class="field text" value="搜索统计"/></span>
            </div>
        </li>


<% end %>
        </div>
	</div>
	<div class="clearfix"></div>


	 <div class="hastable">

     		<table> 
						<thead> 
						<tr>
							<th>#ID</th>
							<th>申请者</th> 
						    <th>物品名称</th> 	
						    <th>申请数量</th>		    						      
						
						    <th>审核者</th> 
						    <th>操作</th>
							
						</tr> 
						</thead> 
						<tbody> 
							<%@applies.each do |c|%>
							   <tr>
							   	<td><%=c.id%></td>
							   	  	<td><%=c.user.name%></td>
							   	 <td><%=c.good.name rescue nil%></td>
							   	  <td><%=c.apply_num%></td>
							   	  <%ids = c.reviewer_ids.split(",")%>
							   	  <td><%=User.where(id: ids).order("field(id, #{ids.join ','})").map(&:name)%></td>		   	
							   	  <td><%= link_to '查看', c %></td>
							   </tr>
							<%end%>
	
				
						</tbody>
						</table>



</div>


</div>
</div>

<script type="text/javascript">
$('.datetimepicker').click(function(){

	$(this).val("")

   	
   	WdatePicker({
       firstDayOfWeek: 0,
       isShowClear: false,
       readOnly: true,
       autoPickDate: true,
      // startDate:'1985-05-01',
       dateFmt:'yyyy/MM/dd'

   	});

   })



</script>
